In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.datasets import load_boston
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [13]:
df=pd.read_csv('grades.csv')
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [3]:
data.head()  # It will show 5 rows of the datas

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [6]:
data.tail()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [14]:
newdf=df.drop(columns=['HS-205/20','MT-222', 'EE-222', 'MT-224', 'CS-210', 'CS-211', 'CS-203', 'CS-214','EE-217', 'CS-212', 'CS-215', 'MT-331', 'EF-303', 'HS-304', 'CS-301','CS-302', 'TC-383', 'MT-442', 'EL-332', 'CS-318', 'CS-306', 'CS-312','CS-317', 'CS-403', 'CS-421', 'CS-406', 'CS-414', 'CS-419', 'CS-423','CS-412'])
newdf

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,C-,C-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,D,B+,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,A-,B-,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,C+,D,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,A-,C,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,B+,A+,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,A,A+,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,B,A+,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,C-,A+,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,D+,B-,1.753

In [50]:
newdf['PH-121'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['HS-101'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CY-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['HS-105/12'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['MT-111'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['EL-102'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['EE-119'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['ME-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-106'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,12,8,9,10,9,8,7,9,12,9,9,2.205
1,CS-97002,16,7,8,7,12,10,7,16,8,7,14,2.008
2,CS-97003,16,13,16,12,14,16,12,14,15,15,12,3.608
3,CS-97004,7,11,8,7,7,15,8,9,7,11,7,1.906
4,CS-97005,15,15,15,14,16,16,15,14,16,15,10,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16,15,17,16,15,15,17,14,17,3.798
567,CS-97568,17,16,16,16,16,16,16,15,16,16,17,3.772
568,CS-97569,13,16,15,14,16,16,16,16,16,13,17,3.470
569,CS-97570,16,14,7,16,7,8,12,9,12,9,17,2.193
570,CS-97571,10,7,7,10,10,8,13,11,10,8,12,1.753

In [24]:
newdf

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,12,8,9,10,9,8,7,9,12,9,9,2.205
1,CS-97002,16,7,8,7,12,10,7,16,8,7,14,2.008
2,CS-97003,16,13,16,12,14,16,12,14,15,15,12,3.608
3,CS-97004,7,11,8,7,7,15,8,9,7,11,7,1.906
4,CS-97005,15,15,15,14,16,16,15,14,16,15,10,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16,15,17,16,15,15,17,14,17,3.798
567,CS-97568,17,16,16,16,16,16,16,15,16,16,17,3.772
568,CS-97569,13,16,15,14,16,16,16,16,16,13,17,3.470
569,CS-97570,16,14,7,16,7,8,12,9,12,9,17,2.193
570,CS-97571,10,7,7,10,10,8,13,11,10,8,12,1.753

In [25]:
newdf.interpolate()
newdf.dropna(axis = 0,inplace=True)
newdf

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,12,8,9,10,9,8,7,9,12,9,9,2.205
1,CS-97002,16,7,8,7,12,10,7,16,8,7,14,2.008
2,CS-97003,16,13,16,12,14,16,12,14,15,15,12,3.608
3,CS-97004,7,11,8,7,7,15,8,9,7,11,7,1.906
4,CS-97005,15,15,15,14,16,16,15,14,16,15,10,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16,15,17,16,15,15,17,14,17,3.798
567,CS-97568,17,16,16,16,16,16,16,15,16,16,17,3.772
568,CS-97569,13,16,15,14,16,16,16,16,16,13,17,3.470
569,CS-97570,16,14,7,16,7,8,12,9,12,9,17,2.193
570,CS-97571,10,7,7,10,10,8,13,11,10,8,12,1.753

In [26]:
newdf

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,12,8,9,10,9,8,7,9,12,9,9,2.205
1,CS-97002,16,7,8,7,12,10,7,16,8,7,14,2.008
2,CS-97003,16,13,16,12,14,16,12,14,15,15,12,3.608
3,CS-97004,7,11,8,7,7,15,8,9,7,11,7,1.906
4,CS-97005,15,15,15,14,16,16,15,14,16,15,10,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16,15,17,16,15,15,17,14,17,3.798
567,CS-97568,17,16,16,16,16,16,16,15,16,16,17,3.772
568,CS-97569,13,16,15,14,16,16,16,16,16,13,17,3.470
569,CS-97570,16,14,7,16,7,8,12,9,12,9,17,2.193
570,CS-97571,10,7,7,10,10,8,13,11,10,8,12,1.753

In [19]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 0 to 570
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seat No.   566 non-null    object
 1   PH-121     566 non-null    object
 2   HS-101     566 non-null    object
 3   CY-105     566 non-null    object
 4   HS-105/12  566 non-null    object
 5   MT-111     566 non-null    object
 6   CS-105     566 non-null    object
 7   CS-106     566 non-null    object
 8   EL-102     566 non-null    object
 9   EE-119     566 non-null    object
 10  ME-107     566 non-null    object
 11  CS-107     566 non-null    object
 12  CGPA       566 non-null    float64
dtypes: float64(1), object(12)
memory usage: 61.9+ KB

In [28]:
X=newdf[['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107']]
Y=newdf['CGPA']
X_train,X_test,Y_train,Y_test =train_test_split(X, Y,test_size=0.2,random_state=0)
r=LinearRegression()

model1_linear=r.fit(X_train,Y_train)
r.score(X_train,Y_train)

0.8323503704771418

In [29]:
r.score(X_test,Y_test)
y_pred = r.predict(X_test)

#We have stored the prediction on the testing data in y_pred variable. Let us check the predictions. 

print(y_pred)
#print(accuracy_score(y_pred,y_test))

[3.18608643 3.34340237 3.04286747 2.28325107 3.46626902 3.35466173
 3.42122354 2.10985732 3.35726485 3.07670446 2.63442711 3.37250563
 2.22460632 3.25872707 3.53666962 2.08072255 3.48871124 2.7855462
 2.81821012 2.1897106  2.30852155 2.72537829 3.55991279 3.6635986
 3.52629556 3.31412916 3.65357932 3.19482494 3.22717593 2.35341082
 1.86472216 3.72925746 3.55210268 2.8293562  3.14114561 1.62592745
 3.5440795  2.94833764 2.65228603 2.063412   3.37412008 3.92061252
 2.98858144 3.84181617 3.24981343 3.40147546 2.72796769 3.48181916
 3.37011546 3.08384084 3.08611894 3.7874145  3.1557767  2.69311683
 3.36541264 2.8392159  2.72485749 3.78151152 3.11322024 2.80139856
 2.14664447 3.32418157 3.35283276 2.48951507 1.68155815 2.23618586
 3.79437434 3.73249513 3.83895927 3.81797281 2.90558053 3.45478108
 3.2009457  2.54536359 3.45220433 3.21817302 3.62390051 2.97307278
 3.19203423 2.76890198 1.99053751 3.2253303  2.84514104 1.94028988
 2.98464391 3.82733496 3.13867105 2.88000174 1.31831021 1.63610621
 3.5019956  3.14862876 2.57413922 2.70750087 2.15025823 2.59292543
 3.2544684  3.41907321 3.33732298 3.4369131  3.21934276 2.15330949
 1.94553168 3.18112556 1.91270516 2.50487511 2.71360724 3.39369118
 2.90686938 3.66000241 2.63150749 3.55029966 3.77145919 3.29430665]

In [30]:
X=newdf.drop(['Seat No.','CGPA'], axis=1)
Y=newdf[['CGPA']]
poly2 = PolynomialFeatures(degree=2)
X_poly2 = poly2.fit_transform(X)
X_poly2

array([[  1.,  12.,   8., ...,  81.,  81.,  81.],
       [  1.,  16.,   7., ...,  49.,  98., 196.],
       [  1.,  16.,  13., ..., 225., 180., 144.],
       ...,
       [  1.,  13.,  16., ..., 169., 221., 289.],
       [  1.,  16.,  14., ...,  81., 153., 289.],
       [  1.,  10.,   7., ...,  64.,  96., 144.]])

In [31]:
X_poly2=pd.DataFrame(X_poly2)
X_poly2=X_poly2.drop([0],axis=1)
X_poly2

,1,2,3,4,5,6,7,8,9,10,...,68,69,70,71,72,73,74,75,76,77
0,12.0,8.0,9.0,10.0,9.0,8.0,7.0,9.0,12.0,9.0,...,81.0,108.0,81.0,81.0,144.0,108.0,108.0,81.0,81.0,81.0
1,16.0,7.0,8.0,7.0,12.0,10.0,7.0,16.0,8.0,7.0,...,256.0,128.0,112.0,224.0,64.0,56.0,112.0,49.0,98.0,196.0
2,16.0,13.0,16.0,12.0,14.0,16.0,12.0,14.0,15.0,15.0,...,196.0,210.0,210.0,168.0,225.0,225.0,180.0,225.0,180.0,144.0
3,7.0,11.0,8.0,7.0,7.0,15.0,8.0,9.0,7.0,11.0,...,81.0,63.0,99.0,63.0,49.0,77.0,49.0,121.0,77.0,49.0
4,15.0,15.0,15.0,14.0,16.0,16.0,15.0,14.0,16.0,15.0,...,196.0,224.0,210.0,140.0,256.0,240.0,160.0,225.0,150.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,13.0,16.0,16.0,15.0,17.0,16.0,15.0,15.0,17.0,14.0,...,225.0,255.0,210.0,255.0,289.0,238.0,289.0,196.0,238.0,289.0
562,17.0,16.0,16.0,16.0,16.0,16.0,16.0,15.0,16.0,16.0,...,225.0,240.0,240.0,255.0,256.0,256.0,272.0,256.0,272.0,289.0
563,13.0,16.0,15.0,14.0,16.0,16.0,16.0,16.0,16.0,13.0,...,256.0,256.0,208.0,272.0,256.0,208.0,272.0,169.0,221.0,289.0
564,16.0,14.0,7.0,16.0,7.0,8.0,12.0,9.0,12.0,9.0,...,81.0,108.0,81.0,153.0,144.0,108.0,204.0,81.0,153.0,289.0
565,10.0,7.0,7.0,10.0,10.0,8.0,13.0,11.0,10.0,8.0,...,121.0,110.0,88.0,132.0,100.0,80.0,120.0,64.0,96.0,144.0

In [32]:
#now X_poly has two feature: X_1=X and X_2=X**2

#now fitting linear model to it
model2=LinearRegression()
model2.fit(X_poly2,Y)

LinearRegression()

In [33]:
X_train,X_test,Y_train,Y_test = train_test_split(X_poly2, Y,test_size=0.2,random_state=0)
#now X_poly has two feature: X_1=X and X_2=X**2

#now fitting linear model to it
#r=LinearRegression()
#r.fit(X_train,Y_train)

#A=model2.predict(X_test)   
#print(A)

print('Training Score',model2.score(X_train,Y_train))
print('Test Score',model2.score(X_test,Y_test))

Training Score 0.8941960335184378
Test Score 0.9148852790057536

In [34]:
#from sklearn.naive_bayes import GaussianNB
#from sklearn.preprocessing import StandardScaler
#from sklearn import metrics
#from sklearn.metrics import confusion_matrix, classification_report
#classifier=GaussianNB()
#model=classifier.fit(X_train,Y_train)
#Y_pred=model.predict(X_test)
#print(confusion_matrix(X_test,Y_pred))
#import sklearn.svm
#from sklearn import datasets
#from sklearn.model_selection import train_test_split
#from sklearn.svm import SVR
#from sklearn.
#reg=SVR(kernel='linear')
#reg.fit(X_train,Y_train)
#reg.score (X_train,Y_train)
#reg.score(X_test,Y_test)

In [35]:
GPA=[]
courses=['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107']
#valid_grades=['A','A+','A-','B','B+','B-','C','C+','C-','D','D+','D-','F','W','WU','I']
# for i in range (len(courses)-1):
#     print("gpa of",courses[i], ":", end='')
#     n=input()
#     while n not in valid_grades:
#         print(courses[i], ":", end='')
#         n=input()
#     GPA.append(n)
    
### Thursday wala code     
GPA=[]
courses=['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107']    
for i in range(0,len(courses)):   
    print("gpa of",courses[i])
    entry=float(input(":"))
    if (0<=(entry)<=17): 
        GPA+=[[(entry)]]
    #print(GPA)
    
    else:
        print("input valid gpa")
        i=i-1
GPA
### Mubina's code
# model_inputs=X_train
# model_target=Y_train
# batch=int(input('Enter the year for which you want to predict GPA: '))
# def inputs (courses,newdf,model_inputs,model_target):
#     valid_grades=['A','A+','A-','B','B+','B-','C','C+','C-','D','D+','D-','F','W','WU','I']
#     for i in range (len(courses)-1):
#         print(courses[i], ":", end='')
#         n=input()
#         while n not in valid_grades:
#             print(courses[i], ":", end='')
#             n=input()
#         batch.append(n)
        
#     batch_=pd.DataFrame(newdf)
#     batch_['serial_No']=np.arrange(len(courses)-1)
#     encode(batch)
#     batch_=no.array(batch_[0])
#     r=LinearRegression()
#     r.fit(model_inputs,model_target)
#     time.sleep(1)
#     print('\nPredicted CGPA using Linear Regression:',end='')
#     print(r.predict([batch_]))

gpa of PH-121
:121
input valid gpa
gpa of HS-101
:5
gpa of CY-105
:7
gpa of HS-105/12
:8
gpa of MT-111
:9
gpa of CS-105
:12
gpa of CS-106
:13
gpa of EL-102
:14
gpa of EE-119
:16
gpa of ME-107
:5
gpa of CS-107
:0

[[5.0], [7.0], [8.0], [9.0], [12.0], [13.0], [14.0], [16.0], [5.0], [0.0]]

In [ ]:
#GPA
#A=model2.predict(X_train,Y_train)
#print(A)
#pip install -n base -c conda-forge widgetsnbextension
#pip install -n py36 -c conda-forge ipywidgets
A higher R-squared value will indicate a more useful beta figure. For example, if a stock or fund has an R-squared value of close to 100%, but has a beta below 1, it is most likely offering higher risk-adjusted returns.
The smaller the mean squared error, the closer you are to finding the line of best fit. Depending on your data, it may be impossible to get a very small value for the mean squared error.

In [ ]:
newdf['PH-121'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['HS-101'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CY-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['HS-105/12'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['MT-111'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['EL-102'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['EE-119'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['ME-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-106'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['HS-205/20'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['MT-222'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['EE-222'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['MT-224'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-210'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-211'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-203'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-214'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['EE-217'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-212'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf['CS-215'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
newdf